<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.1.1" />
  <package id="DynamicExpresso.Core" version="2.16.1" manuallyInstalled="true" />
  <package id="Moq" version="4.20.72" manuallyInstalled="true" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="System.Diagnostics.EventLog" version="4.7.0" />
  <package id="System.Security.Principal.Windows" version="4.7.0" />
</packages>